<div id="main-container">
    <h1>Employee List:</h1><hr/>
    <input type="text" [(ngModel)]="userName" />
    <input type="button" (click)="notifyChildElemnt()" value="Event Emission" />
    <div class="container-fluid" *delayRendering="1000">
        <div *ngFor="let emp of userList">
            <app-employee-details 
                [user]="userName" 
                [employee]="emp" 
                [notifyChild]="notifyChild"
                (notify)="deleteEmployeeFromParent($event)"
                (notifyUserClicked)="notifyUser($event)">
            </app-employee-details>
        </div>
    </div>  
</div>     