<div id="main-container">
    <h1>Employee List:</h1>
    <div *delayRendering>
        <h2>This is Delayed Content</h2>
    </div>
    <div *ngFor="let employee of userList">
        <h1>User Name {{employee.name}}</h1>
        <h3>User Id: {{employee.id}}</h3>
        <h3>User Create At {{employee.createdAt}}</h3>
        <img [src]="employee.avatar" /><br/>
        <div>
            <input type="button" value="Delete Employee" (click)="deleteUser(employee.id)" />
        </div><hr/>
        
    </div>  
</div>     